{% extends 'base.html' %} {% load static %}

<!-- Start main -->
{% block content %}
<main class="container-fluid">
  <section class="py-2">
    <div class="container">
      <section class="text-center my-5">
        <h2 class="h1-responsive font-weight-bold my-3">OUR BEST SALES</h2>
        <p class="grey-text text-center w-responsive mx-auto mb-5">
          Here are our best sales recording to number of sales
        </p>

        <div class="row">
          {% for best in bests %}
          <div class="col-md-4 col-sm-6 mb-lg-0 mb-4">
            <div
              class="card card-cascade wider bg-dark card-ecommerce mx-auto"
              style="max-width:300px;"
            >
              <div class="view view-cascade overlay">
                <img
                  src="{{ best.image_url }}"
                  class="card-img-top"
                  alt="product photo"
                  style="max-height:200px;"
                />
                <a href="{% url 'product' slug=best.slug %}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body card-body-cascade text-center">
                <a href="{% url 'product' slug=best.slug %}" class="text-muted">
                  <h5>{{ best.category }}</h5>
                </a>
                <h4 class="card-title">
                  <strong>
                    <a href="{% url 'product' slug=best.slug %}">
                      {{ best.name }}
                    </a>
                  </strong>
                </h4>
                <p class="card-text">{{ best.summary }}...</p>
                <div class="card-footer px-1">
                  <span class="float-left font-weight-bold"
                    >{{ best.price }}$</span
                  >
                  <span class="float-right">
                    <a
                      href="{% url 'product' slug=best.slug %}"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Quick Look"
                    >
                      <i class="fas fa-eye grey-text ml-3"></i>
                    </a>
                    <a
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Add to Wishlist"
                      onclick="AddToCart('{{ best.id }}')"
                    >
                      <i class="fas fa-shopping-cart grey-text ml-3"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </section>

  <!-- Section laptop -->
  <section class="py-2">
    <div class="container">
      <section class="text-center my-5">
        <h2 class="h1-responsive font-weight-bold text-left my-5">Laptops</h2>
        <div class="row">
          {% for laptop in laptops %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
            <div class="card card-cascade wider bg-dark card-ecommerce">
              <div class="view view-cascade overlay">
                <img
                  src="{{ laptop.image_url }}"
                  class="card-img-top"
                  alt="laptop photo"
                  style="height:150px;"
                />
                <a href="{% url 'product' slug=laptop.slug %}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body card-body-cascade text-center">
                <h4 class="card-title">
                  <strong>
                    <a href="{% url 'product' slug=laptop.slug %}">
                      {{ laptop.name }}
                    </a>
                  </strong>
                </h4>
                <p class="card-text">{{ laptop.summary }}...</p>
                <div class="card-footer px-1">
                  <span class="float-left font-weight-bold">
                    {{ laptop.price }}$
                  </span>
                  <span class="float-right">
                    <a
                      href="{% url 'product' slug=laptop.slug %}"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Quick Look"
                    >
                      <i class="fas fa-eye grey-text ml-3"></i>
                    </a>
                    <a
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Add to Wishlist"
                      onclick="AddToCart('{{ laptop.id }}')"
                    >
                      <i class="fas fa-shopping-cart grey-text ml-3"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </section>

  <!-- Section Headsets -->
  <section class="py-2">
    <div class="container">
      <section class="text-center my-5">
        <h2 class="h1-responsive font-weight-bold text-left my-5">Headsets</h2>
        <div class="row">
          {% for headset in headsets %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
            <div class="card card-cascade wider bg-dark card-ecommerce">
              <div class="view view-cascade overlay">
                <img
                  src="{{ headset.image_url }}"
                  class="card-img-top"
                  alt="headset photo"
                  style="height:150px;"
                />
                <a href="{% url 'product' slug=headset.slug %}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body card-body-cascade text-center">
                <h4 class="card-title">
                  <strong>
                    <a href="{% url 'product' slug=headset.slug %}">
                      {{ headset.name }}
                    </a>
                  </strong>
                </h4>
                <p class="card-text">{{ headset.summary }}...</p>
                <div class="card-footer px-1">
                  <span class="float-left font-weight-bold">
                    {{ headset.price }}$
                  </span>
                  <span class="float-right">
                    <a
                      href="{% url 'product' slug=headset.slug %}"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Quick Look"
                    >
                      <i class="fas fa-eye grey-text ml-3"></i>
                    </a>
                    <a
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Add to Wishlist"
                      onclick="AddToCart('{{ headset.id }}')"
                    >
                      <i class="fas fa-shopping-cart grey-text ml-3"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </section>
</main>
{% endblock %}
